/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-self: end;
  align-items: start;
  padding: 10px ;
  block-size: max(100vb, 668px);
}

.header__rec {
  position: absolute;
  display: ;
}