/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: var(--main-font-size);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  padding: 19px 20px 20px 19px ;
  height: 100vh;
}

.decorations::after,
.decorations::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorations::before {
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  top: 20px;
  right: 20px;
}

.decorations::after {
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  bottom: 20px;
  left: 20px;
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  top: 22px;
  right: 30px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 7px;
  margin-right: -1px;
  margin-bottom: 2px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

/*
.header__theme-menu {

}
*/

.header__theme-menu-list {
  display: flex;
  gap: 11px;
  flex-direction: row;
  justify-content: center;
}

/*
.header__theme-menu-item {

}
*/

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--main-font-size);
  line-height: 18px;
  padding: 0 13px;
  cursor: pointer;
  border: 0;
  color: var(--button-color);
  height: 25px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/*.header__theme-menu-button_type_light {

}
*/

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
  
} 

/*.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}
*/

.header__container {
  display: flex;
  flex-direction: column;
  padding: 30vh 0 15vh;
  gap: 14.5vh;
}

.header__title {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--main-font-size-title);
  margin-left: -20px;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__subtitle {
  display: flex;
  width: clamp(355px, 50%, 490px);
  align-self: flex-end;
  margin: auto 0;
  line-height: 23px;
}

@media (width <=768px) {

  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    padding-top: 171px;
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: var(--main-font-size-title-table);
  }

  .header__container {
    padding: 175px 0;
    gap: 162px;
  }
}

@media (width <=575px) {
  .header {
    min-height: 668px;
    padding: 10px;
  }

  .header__theme-menu {
    padding-top: 57px;
  }

  .header__title {
    margin-left: 0;
    font-size: var(--main-font-size-title-phone);
  }

  .header__container {
    padding: 58px 0;
    gap: 55px;
  }

  .header__rec {
    right: 20px;
    top: 11px;
  }

  .decorations::before {
    right: 10px;
    top: 10px;
  }

  .decorations::after {
    left: 10px;
    bottom: 10px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
  padding-block: 60px;
  padding-inline: 20px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.why__hard {
  grid-template-columns: 315px 1fr;
  row-gap: 20px;
}

.main__section-title {
  font-size: 18px;
  color: var(--section-text-color);
  font-weight: 700;
}

.main__section.why__hard.main__section-title {
  grid-row: span 2;
}

.concentrate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.concentrate__title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main__section.concentrate.main__section-title {
  grid-column: span 3;
  width: 30%;
}

.examples {
  grid-template-columns: 315px 1fr;
  margin-top: -2px;
}

.main__section-block-title-decor {
  grid-column: span 3;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  "title title title"
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
}

.main__section-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-block-reasons {
  margin-top: -10px;
}


.main__section-block-title {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  justify-content: end;
  font-weight: 700;
  background-size: cover;
  font-size: var(--main-font-size);
}

.main_section-block-text {
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--title-shadow-color);
}

.link:focus {
  outline: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section-titular {
  row-gap: 15px;
}

.main__section-block-subtitular {
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  margin-block-start: 20px;
  line-height: 23px;
  font-size: var(--main-font-size);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__sunset {
  grid-area: sunset;
}

.image__ice-cream {
  grid-area: ice-cream;
}

.image__tape {
  grid-area: tape;
}

.image__books {
  grid-area: books;
}

.image__street {
  grid-area: street;
}

@media (width <=768px) {

  .concentrate__title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .why__hard {
    grid-template-columns: 236px 1fr;
  }

  .concentrate {
    grid-template-columns: 1fr;
  }

  .main__section-block-title-why {
    margin-top: 10px;
  }

  .main__section.concentrate.main__section-title {
    grid-column: span 1;
  }

  .examples {
    grid-template-columns: 236px 1fr;
  }
}

@media (width <=575px) {
  .main {
    padding-block: 40px;
    padding-inline: 10px;
    gap: 45px;
  }

  .main_section-block-text {
    line-height: 23px;
  }

  .why__hard {
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .concentrate__title {
    grid-template-columns: 1fr;
  }

  .main_section-block-text-concentrate {
    margin-top: -23.3px;
  }

  .main__section.concentrate.main__section-title {
    width: 100%;
  }
  
  .examples {
    grid-template-columns: 1fr;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__section-block {
    gap: 14px;
  }

  .main__section-block-title-decor {
    margin-top: -3px;
  }

  .main__section-block-subtitular {
    margin-block: 22px;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  min-height: 668px;
}

/*
.decorations {

}
*/

.footer-title {
  color: var(--title-color);
  font-size: var(--font-size-default);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media (width <=768px) {
  .footer-title {
    font-size: var(--main-font-size-title-table);
  }
}

@media (width <=575px) {
  .footer-title {
    font-size: var(--main-font-size-title-phone);
  }
}
