/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: var(--main-font-size);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  padding: 20px ;
  min-height: 100vh;
}

.decorations::after,
.decorations::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorations::before {
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  top: 20px;
  right: 20px;
}

.decorations::after {
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  bottom: 20px;
  left: 20px;
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  top: 22px;
  right: 26px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
  margin-left: 10px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

/*
.header__theme-menu {

}
*/

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

/*
.header__theme-menu-item {

}
*/

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--main-font-size);
  line-height: 18px;
  padding: 0 13px;
  cursor: pointer;
  border: 0;
  color: var(--button-color);
  height: 25px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

/*.header__theme-menu-button_type_light {

}
*/

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decoration-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
} 

/*.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}
*/

.header__container {
  display: flex;
  flex-direction: column;
  padding: 275px 0 115px;
  gap: 115px;
}

.header__title {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--main-font-size-title);
  margin-left: -20px;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__subtitle {
  display: flex;
  width: clamp(355px, 50%, 490px);
  align-self: flex-end;
  margin: auto 0;
  line-height: 23px;
}

@media (width <=768px) {
  .header__theme-menu {
    padding-top: 170px;
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: var(--main-font-size-title-table);
  }

  .header__container {
    padding: 170px 0;
    display: flex;
    flex-direction: column;
    gap: 157px;
  }
}

@media (width <=375px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu {
    place-self: center end;
    padding-top: 55px;
  }

  .header__title {
    margin-left: 0;
    font-size: var(--main-font-size-title-table);
  }

  .header__container {
    padding: 55px 0;
    gap: 58px;
  }

  .header__rec {
    right: 16px;
    top: 12px;
  }

  .decorations::before {
    right: 10px;
    top: 10px;
  }

  .decorations::after {
    left: 10px;
    bottom: 10px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 85px;
  padding-block: 60px;
  padding-inline: 20px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section:first-child {
  grid-template-columns: 315px 1fr;
  row-gap: 20px;
}

.main__section-title {
  font-size: 18px;
  color: var(--section-text-color);
  font-weight: 700;
}

.main__section:first-child .main__section-title {
  grid-row: span 2;
}

.main__section:nth-child(2) {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 25px;
}

.main__section:nth-child(2) .main__section-title {
  grid-column: span 3;
  width: 30%;
}

.main__section:nth-child(3) {
  grid-template-columns: 315px 1fr;
}

.main__section-block-title-decor {
  grid-column: span 3;
}

.main__section:last-child {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  "title title title"
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
}

.main__section-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-block-title {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  justify-content: end;
  font-weight: 700;
  background-size: cover;
  font-size: var(--main-font-size);
}

.main_section-block-text {
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 23px;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--title-shadow-color);
}

.link:focus {
  outline: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section-titular {
  row-gap: 15px;
}

.main__section-block-subtitular {
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  margin-block-start: 20px;
  line-height: 23px;
  font-size: var(--main-font-size);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__sunset {
  grid-area: sunset;
}

.image__ice-cream {
  grid-area: ice-cream;
}

.image__tape {
  grid-area: tape;
}

.image__books {
  grid-area: books;
}

.image__street {
  grid-area: street;
}

@media (width <=768px) {
  .main__section:first-child {
    grid-template-columns: 236px 1fr;
  }

  .main__section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    grid-column: span 1;
  }

  .main__section:nth-child(3) {
    grid-template-columns: 236px 1fr;
  }
}

@media (width <=375px) {
  .main {
    padding-block: 40px;
    padding-inline: 10px;
    gap: 50px;
  }

  .main__section:first-child {
    row-gap: 24px;
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) {
    row-gap: 24px;
  }

  .main__section:nth-child(2) .main__section-title {
    width: 100%;
    row-gap: 24px;
  }

  .main__section:nth-child(3) {
    grid-template-columns: 1fr;
  }

  .main__section:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__section-block {
    gap: 13.5px;
  }

  .main__section-block-subtitular {
    margin-block: 24px;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

/*
.decorations {

}
*/

.footer-title {
  color: var(--title-color);
  font-size: var(--font-size-default);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media (width <=768px) {
  .footer-title {
    font-size: var(--main-font-size-title-table);
  }
}


